<br>
<div class='block-box'>
<% @tasks.each do |task| %>

  <div class="tasks">
    <ul>
      <li><%= task.title.upcase %></li>

      <li class='due'></strong><%= task.due_date.strftime("Due: %m/%d/%Y") %></li>
      <li class='due'></strong><%= task.due_date.strftime("At: %I:%M %p") %></li><br/>

      <%= link_to "Show", user_task_path(@user, task), class: "btn btn-success btn-xs" %>
      <%= link_to "Delete", user_task_path(@user, task), method: :delete, class: "btn btn-danger btn-xs" %>
      <%= link_to "Completed", user_status_path(@user, task), method: :patch, autocomplete: "off", class: "btn btn-success btn-xs" %>
    </ul>

  </div>
<% end %>
</div>