<nav class="navbar navbar-inverse" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <% if current_user %>
        <div>
          <%= if current_user.score == 0 
            "You have completed #{ current_user.score} task's" 
            end
           if current_user.score > 0 && current_user.task_total > 0 
                 current_user.score / current_user.task_total 
                 " You're score is #{ current_user.score}"
              end
          %>
        </div>
        <span><%= link_to 'Log Out  |', destroy_user_session_path, method: :delete, class: "navbar-brand" %></span>
        <span><%= link_to "#{current_user.email}", user_tasks_path(current_user), class: "navbar-brand" %></span>
      <% else %>
        <%= link_to 'Log In', new_user_session_path, class: "navbar-brand" %>
      <% end %>
    </div>
      <ul class="nav navbar-nav navbar-right">
      <% if current_user %>
        <li><%= link_to 'Tasks', user_tasks_path(current_user)  %></li>
      <% else %>
        <li><%= link_to 'Sign Up', new_user_registration_path %></li>
      <% end %>
      <li><%= link_to 'Home', root_path %></li>
        <li><%= link_to 'About', about_path %></li>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>